<div class="live-tweets-container">
  <h1>Look all these Tweets</h1>
  <div class="live-tweets-container--tweets-actions">
    <button mat-raised-button color="primary" (click)="onStartListeningTweetsClick()" [disabled]="twitterListening$ | async">Start Listening Tweets</button>
    <button mat-raised-button color="accent" (click)="onStopListeningTweetsClick()" [disabled]="!(twitterListening$ | async)">Stop Listening Tweets</button>
  </div>
  <mat-divider></mat-divider>
  <div class="live-tweets-container--tweets-info">
    <span>Tweets speed: {{ twitterTweetsPerSecond$ | async }} t/s</span><br>
    <span># of Tweets in List: {{ (twitterTweets$ | async)?.length }} - Max: 100</span><br>
    <span># of deleted Tweets from the list: {{ twitterDeletedTweets$ | async }}</span>
  </div>
  <div class="live-tweets-container--tweets-filters">
    <span>Available Hashtags:
      <ng-container *ngFor="let hashtag of twitterTweetsHashTags$ | async; let index = index;">{{ index ? '- ' : '' }}#{{ hashtag.text }} </ng-container>
    </span><br>
    <span>Hashtag Filter (without the #): </span>
    <mat-form-field>
      <input matInput [formControl]="hashTagFilterControl" />
    </mat-form-field>
  </div>
  <div class="live-tweets-container--tweets-list">
    <mat-card *ngFor="let tweet of filteredTweets$ | async">
      <mat-card-header>
        <div mat-card-avatar class="header-image" style="background-image: url('{{ tweet.message.user.profile_image_url }}');" ></div>
        <mat-card-title>{{ tweet.message.user.name }}</mat-card-title>
        <mat-card-subtitle>@{{ tweet.message.user.screen_name }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{ tweet.message.text }}</p>
        <p *ngIf='tweet.message.entities.hashtags.length'>Used Hashtags: <span *ngFor='let hashtag of tweet.message.entities.hashtags'> #{{ hashtag.text }} </span></p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
