.live-tweets-container {
  padding: 1rem 2rem;

  &--tweets-actions {
    display: flex;
    padding: 1rem 0;
    gap: 0.5rem;
  }

  &--tweets-info {
    margin: 0.5rem 0;
  }

  &--tweets-list {
    max-height: 100vh;
    overflow: auto scroll;

    .mat-card {
        max-width: 18.75rem;
        margin: 2rem auto;

        .header-image {
          background-size: cover;
        }
    }
  }
}
